<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <app-logo></app-logo>
    <h2>Stay connected</h2>
    <p>Share project updates or check patterns from your phone</p>
  </ion-slide>
  <ion-slide>
    <app-logo></app-logo>
    <h2>Inclusive sizing</h2>
    <p>Generate pattern in ANY size, and get personalized instruction for modification</p>
  </ion-slide>
  <ion-slide>
    <app-logo></app-logo>
    <h2>Stream-lined</h2>
    <p>Intuitive, with smart, easy-to-use features to help you master your craft</p>
  </ion-slide>
</ion-slides>