
<ion-header>
  <ion-toolbar>
    <ion-title>Account Info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 
    <ion-card>
      <ion-card-content>
        <!-- Add card content here! -->
        <h2 class="">Change password</h2>
      <form>
        <ion-list>
        <ion-item>
        <ion-label position="stacked" class="text-muted">Old Password</ion-label>
        <ion-input autocomplete="off" type="text"></ion-input>
        </ion-item>
       
          <ion-item>
          <ion-label position="stacked" class="text-muted">New Password</ion-label>
          <ion-input autocomplete="off" type="text"></ion-input>
          </ion-item>
         
            <ion-item>
            <ion-label position="stacked" class="text-muted">Confirm Password</ion-label>
            <ion-input autocomplete="off" type="text"></ion-input>
          </ion-item>
        
       
       
        </ion-list>
        <ion-button expand="block" share="round" color="primary" outline>Change Password</ion-button>
        </form>
        <!--<ion-list>
          <p>Don't have an account? 
          <a routerLink='/signup' class="small-text text-muted"><b>Register here</b></a></p>
        </ion-list>-->
        
      </ion-card-content>
    </ion-card>

</ion-content>
