<ion-content>
  <div class="center logo">
    <app-logo style="margin-top: 25px;"></app-logo>
    
  </div>
  <ion-card>
  <ion-card-content>
    <!-- Add card content here! -->
    <h5 class="text-center">Log in</h5>
  <form>
    <ion-list>
    <ion-item>
    <ion-label position="stacked" class="text-muted">Username / Email</ion-label>
    <ion-input autocomplete="off" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
    <ion-label position="stacked" class="text-muted">Password</ion-label>
    <ion-input autocomplete="off" type="password"></ion-input>
    </ion-item>
    
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="7">
          <a routerLink='/forgotpassword' class="small-text text-muted">Forgot Password?</a>
        </ion-col>
      </ion-row>
    </ion-grid>
      <ion-grid>
      <ion-row>
       <!---- <ion-col size="3" >
          <p class="text-muted m-t-5">Or log in with</p>
        </ion-col>-->
        <ion-col size="5">
          <!--<ion-button fill="outline" routerLink='#' class="small-text text-muted"><ion-icon name="logo-google"></ion-icon>Google</ion-button>-->
          <ion-chip class="icon-color-google"><ion-avatar><img src="assets/icon/google-plus.png" alt="Knitfit logo">
          </ion-avatar><ion-label class="label-google-color">Google</ion-label></ion-chip>
        </ion-col>
        <ion-col size="5">
          <ion-chip class="icon-color-fb"><ion-avatar><img src="assets/icon/fb.png" alt="Knitfit logo">
          </ion-avatar><ion-label class="label-fb-color">facebook</ion-label></ion-chip>
        </ion-col>
    
      </ion-row>
    </ion-grid>
    <!--<ion-item lines='none'>
    <a routerLink='/signup'>Forgot password?</a>
    </ion-item>-->
    </ion-list>
    <a routerLink='/home'><ion-button expand="block" share="round" color="primary" outline>Login</ion-button></a>
    </form>
    <ion-list>
      <p>Don't have an account? 
      <a routerLink='/signup' class="small-text text-muted"><b>Register here</b></a></p>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
