.plus {
    font-size: 35px;
    color: #dcdcdc;
    padding: 38px;
}
/*.m-t-20 {
    margin-top: 35px;
    font-size: 24px;
    font-weight: 500;
    color: #777;
}
.m-b-15 {
    margin-bottom: 40px;
}*/
.setActive {
    padding: 10px !important;
    border-top: 6px solid #0d665c;
    border-radius: 3px !important;
}